# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Multiplatform PR Builds

on:
  pull_request:
    branches:
      - "main"
    paths-ignore:
      - .github/**
      - docs/**
      - artwork/**
      - README.md
      - docker-*
      - index.md
      - jbang-catalog.json
      - Makefile
      - LICENSE

env:
  PROJECTS: ${{ github.workspace }}

jobs:
  build:

    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        os: [macos-latest]
        camel-profile: [camel-current, camel-next]
        experimental: [false]
        include:
          - os: windows-latest
            camel-profile: camel-current
            experimental: true
          - os: windows-latest
            camel-profile: camel-next
            experimental: true
      fail-fast: true

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven (${{ matrix.camel-profile }})
        run: mvn -B '-Dsurefire.rerunFailingTestsCount=2' '-Dci.env.name=github.com' package --file pom.xml -P ${{ matrix.camel-profile }}

  build-with-integration-tests:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        camel-profile: [ camel-current, camel-next ]
        experimental: [ false ]
      fail-fast: true

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven (${{ matrix.camel-profile }}) and run integration tests
        run: mvn -B '-Dsurefire.rerunFailingTestsCount=2' '-Dci.env.name=github.com' install failsafe:integration-test failsafe:verify --file pom.xml -P ${{ matrix.camel-profile }}